nav {
    display: inline-block;
    float: left;
    width: 200px;
    height: 100%;
    background-color: #EEF;
    overflow: scroll;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul ul {
    list-style-type: circle;
}

nav li:hover {
    background-color: #44A;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}
