nav {
    display: inline-block;
    /* position: absolute; */
    float: left;
    width: 200px;
    height: 98%;
    overflow: auto;
    background-color: #EEF;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul ul {
    list-style-type: circle;
}

nav li span {
    display: block;
}
nav li span:hover, ul.igtNav li:hover {
    background-color: #44A;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}
