<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script src="/static/xigtviz.js" charset="utf-8"></script>
  <script>var settings = {{settings|tojson|safe}};</script>
  <script>
    function loadIgt(url) {
      d3.json(url, function(error, data) {
        if (error) return console.warn(error);
        d3.select("#igt").html("");
        igtLayout("#igt", data);
      });
    }
    function loadIgtNav(container, url) {
      d3.json(url, function(error, data) {
        if (error) return console.warn(error);
        d3.select(container)
            .classed("nav-selected", true)
          .select(".igtNav").selectAll("li")
            .data(data.igts)
          .enter().append("li")
            .text(function(d) { return d.id; })
            .on("click", function(d) { return loadIgt(d.url); });
      });
    }
    function refreshCorpusNav() {
      d3.json("{{ dbserver }}/corpora", function(error, data) {
        if (error) return console.warn(error);
        d3.select("#corpusList").selectAll("li")
            .data(data.corpora)
          .enter().append("li")
            .text(function(d) { return d.name; })
            .on("click", function(d) { return loadIgtNav(this, d.summary_url); })
          .append("ul").classed("igtNav", true);
      });
    }
  </script>
  <link rel="stylesheet" type="text/css" href="/static/valhalla.css"/>
  <link rel="stylesheet" type="text/css" href="/static/xigtviz.css"/>
</head>
<body>
<nav id="navbar">
  <ul id="corpusList"></ul>
</nav>
<script>refreshCorpusNav()</script>
<section><div id="igt"></div></section>
</body>
</html>